--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.13.0+cpu
torchvision==0.28.0+cpu
ultralytics==8.4.114
onnx==1.22.0
onnxruntime==1.23.2
pycocotools==2.0.11
opencv-python==5.0.0.93
PyYAML==6.0.3
